.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  font-family: var(--font-geist-sans);
  text-align: center;
  h2 {
    font-family: var(--font-geist-mono);
    font-size: 28px;
  }
  a.cta {
    display: block;
    text-transform: uppercase;
    font-family: var(--font-geist-sans);
    font-weight: 600;
    font-size: 20px;
    margin: 5rem auto 0;
    &::after {
      height: 3px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  }
}
